#copy-button {
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: 67px;
    top: 845px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    left: calc(50% - 168px);

    text-align: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    color: #0A3871;
  }

  #copy-button:hover {
    background: #EFF1FA;
    cursor: pointer;
  }