@import url("copy.css");

.mensagem-p {
    box-sizing: border-box;
    word-wrap: break-word;
    position: relative; /* mudado para relative */
    flex-grow: 1; /* adicionado */
    overflow-y: auto; /* adicionado */
    color: #495057;
    padding: 32px 32px 0 32px;
    border: none;
    resize: none;
    outline: none;
    width: 401px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    flex-grow: 1; /* adicionado */
    overflow-y: auto; /* adicionado */
  }