figcaption {
    position: absolute;
    left: -9999px;
  }

.container {
    position: relative;
    background: #F3F5FC;
    width: 1440px;
    height: 1024px;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#text-area {
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background: #F3F5FC;
    border: none;
    resize: none;
    outline: none;
}

.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;
    
}
.alerta p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

#criptografar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    
    justify-content: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    text-align: center;

}

#criptografar:hover{
    background: #072B61;
    cursor: pointer;
}

#descriptografar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #EFF1FA;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;

    justify-content: center;
    color: ##0A3871;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    text-align: center;
    
}

#descriptografar:hover{
    background: #FFFFFF;
    cursor: pointer;
}

.mensagem-criptografada {
    
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#procurando {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;
}

.mensagem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 32px;
    top: 619px;
    font-family: 'Inter', sans-serif;

}

#sem-mensagem{
    width: 336px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    justify-content:center;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 10px;   
}

#texto-criptografado {
    width: 336px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    justify-content:center;
    text-align: center;
    margin-left: 10px;

    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.mensagem-textarea {
    position: absolute;
    pointer-events: none;
    color: #495057;
    border: none;
    resize: none;
    outline: none;
    height: 781px;
    width: 336px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 32px;
    margin-top: 32px;
    margin-right: 32px;
  }

  #copy-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 845px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;

    justify-content: center;
    text-align: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    color: #0A3871;
  }

  #copy-button:hover {
    background: #EFF1FA;
    cursor: pointer;
  }