@media (max-width: 768px) {
    .container{
        width: 768px;
    }
    /*header*/
    #logo {
        width: 31.09px;
        height: 49.03px;
        left: 40px;
        top: 73.42px;
      }
      /*section 1*/
    #text-area {
        left: 40px;
        top: 240px;
    }

    .alerta {
        left: 40px;
        top: 836px;
        
    }
    /*section 2*/
    .buttons {
        width: 688px;
        left: 40px;
        top: 870px;
    }
    #criptografar {
        width: 332px;

    }

    #descriptografar {
        width: 332px;

    }
    /*section 3*/
    .mensagem-criptografada {
        width: 688px;
        height: 133px;
        top: 1001px;
    }
    #procurando{
        display: none;

    }
    .mensagem {
        position: absolute;
        width: 624px;
        height: 69px;
        left: 32px;
        top: 32px;
        font-family: 'Inter', sans-serif;
        align-self: stretch;
        justify-content: center;
    }
    #sem-mensagem{
        width: 624px;
        height: 29px;
    }
    #texto-criptografado {
        width: 624px;
        height: 24px;
    
    }
    /*footer*/
    .social-media {
        position: relative;
        width:100%;
        height: 100%;
        justify-content: center;
        top: 80vh;
    }
    .social-media footer ul{
        flex-direction: row;

        gap:2px;
    }
    footer img {
        margin: 0 15px;
        width: 60px;
        height: 60px;
    }
      /*dinamico*/
      .mensagem-textarea {
        flex-basis:0;
    }
    #copy-button {
        width: 624px;
        height: 67px;
        left: 32px;
        top: 244px;
    }
}