@import url("header.css");
@import url("main.css");
@import url("buttons.css");
@import url("aside.css");
@import url("footer.css");
@import url("dinamico/criptografado.css");
@import url("dinamico/copy.css");

@media (max-width: 1440px) {
    .container{
        width: 1440px;
    }
}