.social-media{
  width: 1440px;
  height: 1024px;
  display: flex;
  align-items: center;

}

 .social-media footer ul{
  display: flex;
  width: 60%;
  flex-direction: column;
  gap:40px;

}

footer img {
  width: 30%;
  transition: filter 0.3s ease-in-out;
}

footer img:hover {
  cursor: pointer;
  filter: invert(0.7);
}