@import url("desktop/desktop.css");
@import url("tablets/tablets.css");
@import url("celulares/celulares.css");

html{
  background: #F3F5FC;
}

.container {
    position: relative;
    min-height: 100vh;
}