@import url("criptografado");

@media (max-width: 375px) {
    .mensagem-criptografada {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

        position: absolute;
        width: 327px;
        height: 186px;
        left: 20px;
        top: 707px;
    }
    .mensagem {
        width: 263px;
        height: 122px;
        left: 32px;
        top: 32px;
        align-self: stretch;
        justify-content: center;
    }
    #sem-mensagem{
        width: 263px;
        height: 58px;
    }
    #texto-criptografado {
        width: 263px;
        height: 48px;
    
    }
}




