@import url("buttons.css");

@media (max-width: 375px) {
    #text-area {
        width: 343px;
        height: 320px;
        left: 16px;
        top: 152px;
    }

    .alerta {
        left: 40px;
        top: 836px;
        
    }

    .alerta p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #495057;
        opacity: 0.8;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .buttons {
        flex-direction: column;
        width: 343px;
        height: 158px;
        left: 16px;
        top: 485px;
    }
}